* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 14px;
    min-height: 0;
    transition: color 0.4s ease-out;
    transition: background-color 0.3s ease-out;
}

window#waybar {
    background:transparent;
    /*background-color: rgba(0,0,0,0.8);*/
    /*color: black;*/
}

#custom-archicon {
    margin-left:10px;
    margin-top:5px;
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    background-color:rgba(31,31,31,1);
    border-radius: 10px;
    padding:0 10px 0 10px;
}

#custom-archicon:hover{

    color:cyan;

}

#workspaces {
    /*padding: 0 5px;*/
    margin-left:10px;
    margin-top:5px;
    background-color:rgba(31,31,31,1);
    border-radius: 10px;
}


#workspaces button {
    padding: 5px;
    background: transparent;
    border-radius:10px;
    color: white;
    /*border-top: 2px solid transparent;*/
}

#workspaces button.active {
    color: #c9545d;
    background-color: rgba(36,36,36,1);
    border-radius:10px;
    /*border-top: 2px solid #c9545d;*/
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #temperature, #temperature#gpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #cpu {   
    border-radius: 10px;
    background-color: rgba(31,31,31,1);
    margin: 5px 0 0 2px;
    padding: 0 8px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
margin-right:10px;
}

